body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}
.wraper{
    width: 1024px;
    margin: auto;
}
.caja{
    display: flex;
    justify-content: space-between;
}
.encabezado{
    height: 100px;
    background-color:#07B5FF ;
}
.encabezado,.contenido, .contenido-lateral, .pie-de-pagina{
    box-sizing: border-box;
}
.contenido{
    width: 81%;
    height: 500px;
    background-color:#F0599C ;
    margin-top: 0.5rem;
}
.contenido-lateral{
    width: 18%;
    height: 500px;
    background-color: #F0DB29;
    margin-top: 0.5rem;
}
.pie-de-pagina{
    height: 200px;
    margin-top:0.6rem ;
    background-color:#3A94A3 ;
}